# Logs
logs

# Dependency directory
node_modules
tmpnodejsnpm-cache

# Optional npm cache directory
.npm

# js files
# dist/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
